@model IEnumerable<EvansApp.Models.HZ_Customer>

@{
    ViewBag.Title = "Search";
}
<div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image-->
    <!-- Masthead Heading
    <h1 class="masthead-heading text-uppercase mb-0">Evans Bank POC</h1>-->
    <!-- Icon Divider-->

    <form action="~/HZ_Customer/Search" method="post">
        @Html.AntiForgeryToken()

        <div class="input-group mb-3">
            <input type="text" name="CustomerName" class="form-control" required placeholder="Customer Name" aria-label="Recipient's username" aria-describedby="button-addon2">
            <input type="submit" class="btn btn-outline-secondary" value="Search" id="button-addon2" />
        </div>

    </form>
    <!-- Masthead Subheading-->
    <div class="divider-custom divider-light">
    </div>
    <p class="masthead-subheading font-weight-light mb-0">
       
        <div align="center">
            <table class="table" border="1">

                @if (Model == null)
                {
                


                }
                else
                {
                    <tr><p style="color:red">@ViewBag.Notfound</p></tr>
                    foreach (var item in Model)
                    {
                        @Html.Partial("_CustomerPartialView", item)
                    }

                }
            </table>
        </div>
    </p>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
