@model EvansApp.Models.HZ_Customer

<tr>



    <td>
        @Html.ActionLink(Model.FirstName + " " + Model.LastName + ", " + Model.Address1StreetName + " " + Model.City + ",  " + Model.State + " " + Model.Zipcode, "ProductsServicesOfCustomer", new { id = Model.CustomerKey })
    </td>

</tr>
